* {
    box-sizing: border-box;
}
body {
    background-color: black;
    color: cadetblue;
}

.nav {
    background-color: #848487;
    color: black;
    list-style-type: none;
    margin: 2px;
    padding: 5px;
    display: flex;
    /*border: solid yellow 1px;*/
    justify-content: space-between;
    align-items: center;




}
.nav-link {
    color: black;
    font-family: 'Roboto Condensed', sans-serif;
    text-decoration: none;
    /*border: solid pink 1px;*/
    padding: 1.5em;


}
.nav-item {
    /*border: solid 1px blue;*/


}
.nav-link:hover {
    color: lightblue;
}
.list {
    display: flex;
    flex-direction: row;
    justify-content: left;
    /*border: solid orange 3px;*/
    align-content: center;
    list-style: none;
}
.follow {
    display: flex;
    flex-direction: row;
    justify-content: right;
    flex-wrap: wrap;

}
.logo {
    border: solid green 1px;
    width: 10%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1em;
    padding-top: .2em;
    margin: auto;
}