main{
    border: solid black 2px;
    height: 600px;
    width: auto;
}
#password {
    background-color: white;
}
*{
    font-family: 'Press Start 2P', cursive;
    background-color: darkred;
}
h1, h5 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3em;
}