
/*!*Nav bar*!*/



/*pizza*/
.jumbotron {
    background-image: url("../img/pizza.png");
    border: solid blue 1px;
    background-size: cover;
    height: 346px;
    display: flex;
    align-items: center;
    margin: auto;

}
.display-4 {
    border: orange solid 1px;
    display: flex;
    flex-grow: initial;
    justify-content: center;
    background-color: #E5ECF0;
    width: 100%;

}4