#name {
    font-family: 'Bebas Neue', cursive;
}
hr{
    border: 8px solid darkgreen;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:auto;
    border-radius: 50px;

}
/*@media (min-width: 30em) and (orientation: portrait) {*/

/*}*/
/*@media (min-width: 1000px) and (orientation: landscape) {*/
/*    */
/*}*/