*{
    font-family: 'Press Start 2P', cursive;
}

body {
    /*background: radial-gradient(ellipse at center, rgba(127,0,173,0.6) 0%,*/
    /*rgba(0,0,0,0.8) 60%,*/
    /*rgba(0,0,0,1) 90%)*/
    ;
    background-size: cover;
    background-image: url("/img/dreamwave.png");





}
main{
    height: 1000px;
}
html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}
header {
    color: #FFF;
    font-family: 'Playfair Display', serif;
    text-shadow: 0 0 3px #FFF, 0 0 5px #000;
    text-align: center;
    animation: neon1 1.5s ease-in-out infinite alternate;
    height: 480px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

header h2 {


    font-size: 3rem;
    line-height: 1.2;
    margin: 0;
    padding: 0;
    flex-grow: 1;
    z-index: 1;
}
header h6 {
    line-height: 1.2;
    margin: 0;
    padding: 0;
    flex-grow: 1;
    z-index: 1;
}
#input{
    display: flex;

    margin-top: 4em;
    margin-left: 8em;
    margin-bottom: 18em;
    width: 85vh;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}
#map {
    /* the width and height may be set to any size */
    width: 45%;
    height: 400px;

    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;

    margin: auto;
    padding: 1rem;
}
#cards{
    /*!*border: yellow solid 3px;*!*/
    /*display: flex;*/
    /*justify-content: space-between;*/
    /*margin: 3rem;*/

}
.card{
    /*border: solid red 5px;*/
    background-color: #200D3A;
    color: #ECC6A2;
    width: 600px;
    height: 350px;
    border-radius: 20px;
    box-shadow: 0px 8px 16px 4px #CE5E82;
    margin-top: 50px;
    margin-bottom: 50px;
}

